.container{
    padding: 20px;
    background-color: rgb(16, 16, 16);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

h1{
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: white;
    font-weight: bolder;
}

nav button{
    margin: 0px 5px;
    width: 100px;
    border-color: white;
}

nav {
    display: flex;
    flex-wrap: nowrap;
}

a{
    color: white;
    text-decoration: none;
}